/* bulkui.css */
.hformtools-users > .container {
    width: 480px;
    min-height: 100px;
    padding: 10px;
    display: none;
}
.hformtools-users > .container .input {
    display:inline-block;
    width: 80px;
    padding: 2px;
    margin: 3px;
}
.hformtools-users > .container .group {
    margin: 0px;
    padding: 0px;
}
.hformtools-users > .container .group-label {
    display:inline-block;
    width: 80px;
    padding: 2px;
    margin: 3px;
}
