/* bulkui.css */
.hformtools-users .ajaxelement{
    display: none;
}
.hformtools-users > .ajaxelement {
    min-height: 100px;
    padding: 8px;
    display: none;
}
.hformtools-users > .ajaxelement .user {
    display:inline-block;
    width: 80px;
    padding: 1px 3px;
    margin: 2px;
}
.hformtools-users > .ajaxelement .group {
    margin: 0px;
    padding: 1px;
}
.hformtools-users > .ajaxelement .group-label {
    display:inline-block;
    width: 80px;
    padding: 1px 3px;
    margin: 2px;
}
