/* bulkui.css */
.hformtools-users .ajaxelement{
    display: none;
}
.hformtools-users > .ajaxelement {
    width: 480px;
    min-height: 100px;
    padding: 10px;
    display: none;
}
.hformtools-users > .ajaxelement .user {
    display:inline-block;
    width: 80px;
    padding: 2px;
    margin: 3px;
}
.hformtools-users > .ajaxelement .group {
    margin: 0px;
    padding: 0px;
}
.hformtools-users > .ajaxelement .group-label {
    display:inline-block;
    width: 80px;
    padding: 2px;
    margin: 3px;
}
