/******* Employee Directory ************/
#content .view-directory {
	line-height:130%;
}
#content .view-directory .views-row-odd {
	width:50%;
	border:0px solid blue;
	float:left;
	/*
	clear:left;
	*/
	margin-top:5px;
	margin-bottom:5px;
}
#content .view-directory .views-row-even {
	width:50%;
	border:0px solid red;
	float:left;
	/*
	float:right;
	clear:right;
	*/
	margin-top:5px;
	margin-bottom:5px;
}

#content .view-directory .views-field-field-headshot-fid {
	float:left;
}
#content .view-directory .views-field-field-headshot-fid img {
	border:1px solid #000;
}

#content .view-directory .views-field-title {
	margin-left:110px;
	margin-right:10px;
}
#content .view-directory .views-field-field-title-value {
	margin-left:110px;
	margin-right:10px;
	margin-bottom:10px;
	font-weight:bold;
}
#content .view-directory .views-field-field-email-value {
	margin-left:110px;
	margin-right:10px;
}
#content .view-directory .views-field-field-phone-value {
	margin-left:110px;
	margin-right:10px;
}
#content .view-directory .views-field-field-tty-value {
	margin-left:110px;
	margin-right:10px;
}
#content .view-directory .views-field-field-fax-value {
	margin-left:110px;
	margin-right:10px;
}

a.directory-browse-by-letter-link, a.directory-browse-by-letter-link:hover, a.directory-browse-by-letter-link:visited {
	padding:3px 4px;
	border:1px solid #999 !important;
	margin-right:2px;
}

#directory-browse-by-letters {
	margin:10px 0;
}

/*Directory Quick Search*/
#f_filter {margin-top:10px; width:160px;}
.default-text-active { color:#999; font-style: italic; }


/*directory page styles */
#directory-node-image-container {
	float:right;
	margin-top:28px;
	border:1px solid #666;
	padding:6px;
}

#directory-node-content-container {
	margin-right:280px;
}
.directory-clearer {
	clear:both;
}


/*directory styling*/
.views-row-odd{float:left; width:48%; padding-right:1.75%; margin-top:5px; margin-bottom:5px; clear:left;}
.views-row-even{float:left; width:48%; margin-top:5px; margin-bottom:5px; clear:right;}
.view-content {margin-top:2em;}
.views-row-odd h3, .views-row-even h3 {margin:0;}

.view-directory .views-field-field-picture {
	float:left;
}
.view-directory .views-field-field-picture img {
	border:1px solid #000;
}
.view-directory .views-field-authname {
	margin-left:110px;
	margin-right:10px;
}
.view-directory .views-field-field-authname-value {
	margin-left:110px;
	margin-right:10px;
	margin-bottom:10px;
	font-weight:bold;
}
.directory-clearer {
	clear:both;
}
