/******* Student Directory ************/
.view-student-directory {
	line-height:130%;
}
.view-student-directory .views-row-odd,
.view-student-directory .views-row-even {
	width:30%;
	border: solid #985D3B;
	border-width: 1px 1px 0px 0px; /* Top and right have borders */
	float:left;
	padding-top:10px;
	margin-top:0px;
	margin-bottom:5px;
}

.view-student-directory .views-field-picture {
	float:left;
}
#content .view-student-directory .views-field-picture img {
	border:1px solid #000;
}

.view-student-directory .views-field-authname {
	margin-left:110px;
	margin-right:10px;
}

a.directory-browse-by-letter-link, a.directory-browse-by-letter-link:hover, a.directory-browse-by-letter-link:visited {
	padding:3px 4px;
	border:1px solid #999 !important;
	margin-right:2px;
}

#directory-browse-by-letters {
	margin:10px 0;
}

/*Directory Quick Search*/
#f_filter {margin-top:10px; width:160px;}
.default-text-active { color:#999; font-style: italic; }


/*directory page styles */
#directory-node-image-container {
	float:right;
	margin-top:28px;
	border:1px solid #666;
	padding:6px;
}

#directory-node-content-container {
	margin-right:280px;
}
.directory-clearer {
	clear:both;
}


/*directory styling
.views-row-odd{float:left; width:48%; padding-right:1.75%; margin-top:5px; margin-bottom:5px; clear:left;}
.views-row-even{float:left; width:48%; margin-top:5px; margin-bottom:5px; clear:right;}*/
.view-content {margin-top:2em;}
.views-row-odd h3, .views-row-even h3 {margin:0;}

.view-student-directory .views-field-picture {
	float:left;
}
.view-student-directory .views-field-picture img {
	border:1px solid #000;
}
.view-student-directory .views-field-authname {
	margin-left:110px;
	margin-right:10px;
}
.directory-clearer {
	clear:both;
}
