/* Headings */
h1, h2, h3 {
  color: #291d19;
  font-family: 'Prosto One', 'Arial', sans-serif;
}

/* Just a little style */
p {
  font-family: 'Verdana', sans-serif;
}

/* Make active menues the same color as headings */
li a.active {
  color: #291d19;
}

/* Remove bullets on dropdown menus from Nice Menus */
ul.nice-menu li {
  list-style: none;
}

/* Pretty print date on Council Minutes */
div.field-field-council-date {
  font-size: larger;
  float: right;
  color: #E87420;
  font-weight: bold;
  padding:0px;
  margin-left:10px;
  margin:0px;
}

/* Font styles */
.font-smaller {
  font-size: smaller;
}

.font-small {
  font-size: small;
}

/* Panel Titles */
h2.pane-title {
  color: #67493f;
  font-size: 12pt;
  margin: .5em 0px;
}

/* Fixes admin tabs creating horizontal scrollbars */
ul.tabs{
	white-space: normal;
}

/* Display council roles */
span.roles-council-president:after {
  content: "President";
}

span.roles-council-vp:after {
  content: "Vice President";
}

span.roles-council-secretary:after {
  content: "Secretary";
}

span.roles-council-treasurer:after {
  content: "Treasurer";
}

span.roles-council-cast:after {
  content: "CAST Representative";
}

span.roles-council-chst:after {
  content: "CHST Representative";
}

span.roles-council-cias:after {
  content: "CIAS Representative";
}

span.roles-council-cola:after {
  content: "COLA Representative";
}

span.roles-council-cos:after {
  content: "COS Representative";
}

span.roles-council-first-year:after {
  content: "First Year Representative";
}

span.roles-council-gccis:after {
  content: "GCCIS Representative";
}

span.roles-council-kgcoe:after {
  content: "KGCOE Representative";
}

span.roles-council-late-entry:after {
  content: "Late Entry Representative";
}

span.roles-council-ntid:after {
  content: "NTID Representative";
}

span.roles-council-scb:after {
  content: "SCB Representative";
}

span.roles-council-usp:after {
  content: "USP/CMS Representative";
}

/* Cheap hack to replace banner image.  This is NOT permanent */
#banner-image { 
  background: url("https://www-staging.rit.edu/~w-drupal/sites/rit.edu.academicaffairs.honors/themes/honors_base1/banner-sol-and-clock.jpg") no-repeat #EBE9DF;
}

/* Student Activity Styles */
.field-field-project-participants div.field-item{
  display:inline;
}
