/* bulkui.css */
.hpoints-bulkui-container {
    width: 480px;
    min-height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px;
    display: none;
}
.hpoints-bulkui-container .input {
    display:inline-block;
    width: 80px;
    background-color: #dadada;
    border: 1.5px solid SkyBlue;
    padding: 2px;
    margin: 3px;
    border-radius: 3px;
}
.hpoints-bulkui-container .del {
    color: red;
    font-weight: bold;
}
.hpoints-bulkui-container .group {
    border: 1px solid green;
    border-radius: 4px;
    margin: 0px;
    padding: 0px;
}
.hpoints-bulkui-container .group-label {
    display:inline-block;
    width: 80px;
    padding: 2px;
    margin: 3px;
    border-radius: 3px;
}
